@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html {
    min-height: 100%;
    /* make sure it is at least as tall as the viewport */
    position: relative;
}
body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: #2D3047;
    background-color: #F6F5F4;
    margin: 2rem;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h1 {
    width: 100%;
    font-size: 64px;
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid #2D3047;
    line-height: 0.1em;
}
/* To create the line */
h1 > span {
    background: #fff;
    padding: 0 10px;
}

h2 {
    color: #BC767B; 
    font-weight: 400;
    font-style: italic;
}

nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: fixed;
    font-size: large;

}

li {
    float: left;
}

li a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    color: #2D3047;
}

li a:link {
    color: #2D3047;
}
li a:visited {
    text-decoration: none;
}

li a:hover {
    color: #BC767B;
}

li a:active {
    color: #BC767B;
    text-decoration: underline;
}


main {
    margin-left: 8rem;
    background-color: #fff;
    padding: 2rem;
}
